<game>
	<settings>
		<gamename>Playware XNA Game</gamename>
		<background>background.png</background>
		<screenwidth>600</screenwidth>
		<screenheight>400</screenheight>		
		<gametype>1</gametype>
		<com_port>COM2</com_port>
		<baud_rate>19200</baud_rate>
	</settings>
	<gameobjects>
		<gameobject>
			<name>Cat</name>
			<sound>cat.ogg</sound>
			<xpos>25</xpos>
			<ypos>250</ypos>
			<images transparent="true" height="120" width="106">
				<image>cat.png</image>
			</images>
			<rfid>E4410101010</rfid>
		</gameobject>
		<gameobject>
			<name>Cow</name>
			<sound>cow.ogg</sound>
			<xpos>25</xpos>
			<ypos>250</ypos>
			<images transparent="true" height="120" width="106">
				<image>cow.png</image>
			</images>
			<rfid>E4410101010</rfid>
		</gameobject>
		<gameobject>
			<name>Chicken</name>
			<sound>chicken.ogg</sound>
			<xpos>150</xpos>
			<ypos>250</ypos>
			<images transparent="true" height="120" width="96">
				<image>chicken.png</image>
			</images>
			<rfid>E4410101011</rfid>
		</gameobject>
		<gameobject>
			<name>Dog</name>
			<sound>dog.ogg</sound>
			<xpos>275</xpos>
			<ypos>250</ypos>
			<images transparent="true" height="120" width="90">
				<image>dog.png</image>
			</images>
			<rfid>E4410101012</rfid>
		</gameobject>
		<gameobject>
			<name>Pig</name>
			<sound>pig.ogg</sound>
			<xpos>400</xpos>
			<ypos>250</ypos>
			<images transparent="true" height="120" width="114">
				<image>pig.png</image>
			</images>
			<rfid>E4410101013</rfid>
		</gameobject>		
		<gameobject>
			<name>Sheep</name>
			<sound>sheep.ogg</sound>
			<xpos>525</xpos>
			<ypos>250</ypos>
			<images transparent="true" height="120" width="116">
				<image>sheep.png</image>
			</images>
			<rfid>E4410101014</rfid>
		</gameobject>
		<gameobject>
			<name>Monkey</name>
			<sound>monkey.ogg</sound>
			<xpos>525</xpos>
			<ypos>250</ypos>
			<images transparent="true" height="98" width="120">
				<image>monkey.png</image>
			</images>
			<rfid>E4410101014</rfid>
		</gameobject>
	</gameobjects>
</game>