<game>
	<settings>
		<gamename>Playware XNA Game</gamename>
		<background>background.png</background>
		<screenwidth>600</screenwidth>
		<screenheight>400</screenheight>		
		<gametype>1</gametype>
		<com_port>COM2</com_port>
		<baud_rate>19200</baud_rate>
	</settings>
	<gameobjects>
		<gameobject>
			<name>Cow</name>
			<sound>cow.ogg</sound>
			<xpos>50</xpos>
			<ypos>350</ypos>
			<images transparent="true">
				<image>cow.png</image>
			</images>
			<rfid>E4410101010</rfid>
		</gameobject>
		<gameobject>
			<name>Duck</name>
			<sound>duck.ogg</sound>
			<xpos>150</xpos>
			<ypos>350</ypos>
			<images transparent="true">
				<image>duck.png</image>
			</images>
			<rfid>E4410101011</rfid>
		</gameobject>
		<gameobject>
			<name>Horse</name>
			<sound>horse.ogg</sound>
			<xpos>250</xpos>
			<ypos>350</ypos>
			<images transparent="true">
				<image>horse.jpg</image>
			</images>
			<rfid>E4410101012</rfid>
		</gameobject>
		<gameobject>
			<name>Pig</name>
			<sound>pig.ogg</sound>
			<xpos>350</xpos>
			<ypos>350</ypos>
			<images transparent="true">
				<image>pig.jpg</image>
			</images>
			<rfid>E4410101013</rfid>
		</gameobject>		
		<gameobject>
			<name>Sheep</name>
			<sound>sheep.ogg</sound>
			<xpos>450</xpos>
			<ypos>350</ypos>
			<images transparent="true">
				<image>sheep.jpg</image>
			</images>
			<rfid>E4410101014</rfid>
		</gameobject>
	</gameobjects>
</game>